In [8]:
import sqlite3

In [9]:
### create a database in RAM

db=sqlite3.connect(':memory:')

In [10]:
### Get a cursor object

cursor=db.cursor()

In [11]:
##create a table

cursor.execute('''
create table Ages(
name varchar(128),
age int)''')

In [12]:
cursor.execute("Delete from Ages")

In [18]:
cursor.execute('''Insert into Ages values ('Mara',28)''')
cursor.execute('''Insert into Ages values('Otto',33)''' )
cursor.execute('''Insert into Ages values('Fyn',31)''')
cursor.execute('''Insert into Ages values('Neshawn',17)''' )

In [19]:
cursor.execute('''select * from Ages''')

In [20]:
rows=cursor.fetchall()

for row in rows:
    print(row)

('Mara', 28)
('Otto', 33)
('Fyn', 31)
('Neshawn', 17)
('Mara', 28)
('Otto', 33)
('Fyn', 31)
('Neshawn', 17)

In [25]:
cursor.execute('''SELECT hex(name || age) AS X FROM Ages ORDER BY X''')

In [26]:
rows=cursor.fetchall()

for row in rows:
    print(row)

('46796E3331',)
('46796E3331',)
('4D6172613238',)
('4D6172613238',)
('4E65736861776E3137',)
('4E65736861776E3137',)
('4F74746F3333',)
('4F74746F3333',)

In [10]:
###select the row whose name is Fyn

In [11]:
cursor.execute('''select * from Ages where name="Fyn"''')

In [12]:
rows=cursor.fetchall()

In [13]:
for row in rows:
    print(row)

('Fyn', 31)

In [14]:
### update the age of a user named "Mara" to 30 in the "Ages" table

In [18]:
cursor.execute('''update Ages set age=30 where  name="Mara" ''')

In [19]:
cursor.execute('''select * from Ages''')

In [20]:
rows=cursor.fetchall()

In [21]:
for row in rows:
    print(row)

('Mara', 30)
('Otto', 33)
('Fyn', 31)
('Neshawn', 17)

In [20]:
### delete the row of the user named "Otto" from the "Ages" table

In [25]:
cursor.execute('''delete from Ages  where name="Otto" ''')

In [26]:
cursor.execute('''PRAGMA table_info(Ages);''')

In [27]:
cursor.execute('''select * from Ages''')

In [28]:
rows=cursor.fetchall()

In [29]:
for row in rows:
    print(row)

('Mara', 30)
('Fyn', 31)
('Neshawn', 17)

In [30]:
###count of total users in the "Ages" table
cursor.execute('''select count(*) from Ages''')

In [31]:
rows=cursor.fetchall()
for row in rows:
    print(row)

(3,)

In [32]:
cursor.execute('''alter table Ages add column email varchar(255);''')

In [35]:
cursor.execute('''select * from Ages''')

In [36]:
rows=cursor.fetchall()

In [37]:
for row in rows:
    print(row)

('Mara', 30, None)
('Fyn', 31, None)
('Neshawn', 17, None)

In [38]:
cursor.execute('''update Ages set Email="fyn31@gmail.com" where name="Fyn"''')

In [39]:
cursor.execute('''update Ages set Email="mara30@gmail.com" where name="Mara"''')

In [40]:
cursor.execute('''select * from Ages''')

In [41]:
rows=cursor.fetchall()

In [42]:
for row in rows:
    print(row)

('Mara', 30, 'mara30@gmail.com')
('Fyn', 31, 'fyn31@gmail.com')
('Neshawn', 17, None)