In [2]:
import sqlite3

In [3]:
### create a database in RAM

db=sqlite3.connect(':memory:')

In [4]:
### Get a cursor object

cursor=db.cursor()

In [5]:
##create a table

cursor.execute('''
create table Ages(
name varchar(128),
age int)''')

In [6]:
cursor.execute("Delete from Ages")

In [7]:
cursor.execute('''Insert into Ages values ('Mara',28)''')
cursor.execute('''Insert into Ages values('Otto',33)''' )
cursor.execute('''Insert into Ages values('Fyn',31)''')
cursor.execute('''Insert into Ages values('Neshawn',17)''' )

In [8]:
cursor.execute('''select * from Ages''')

In [9]:
rows=cursor.fetchall()

for row in rows:
    print(row)

('Mara', 28)
('Otto', 33)
('Fyn', 31)
('Neshawn', 17)

In [10]:
cursor.execute('''SELECT hex(name || age) AS X FROM Ages ORDER BY X''')

In [11]:
rows=cursor.fetchall()

for row in rows:
    print(row)

('46796E3331',)
('4D6172613238',)
('4E65736861776E3137',)
('4F74746F3333',)

In [12]:
###select the row whose name is Fyn

In [13]:
cursor.execute('''select * from Ages where name="Fyn"''')

In [14]:
rows=cursor.fetchall()

In [15]:
for row in rows:
    print(row)

('Fyn', 31)

In [16]:
### update the age of a user named "Mara" to 30 in the "Ages" table

In [17]:
cursor.execute('''update Ages set age=30 where  name="Mara" ''')

In [18]:
cursor.execute('''select * from Ages''')

In [19]:
rows=cursor.fetchall()

In [20]:
for row in rows:
    print(row)

('Mara', 30)
('Otto', 33)
('Fyn', 31)
('Neshawn', 17)

In [21]:
### delete the row of the user named "Otto" from the "Ages" table

In [22]:
cursor.execute('''delete from Ages  where name="Otto" ''')

In [23]:
cursor.execute('''PRAGMA table_info(Ages);''')

In [24]:
rows=cursor.fetchall()

In [25]:
for row in rows:
    print(row)

(0, 'name', 'varchar(128)', 0, None, 0)
(1, 'age', 'INT', 0, None, 0)

In [26]:
###count of total users in the "Ages" table
cursor.execute('''select count(*) from Ages''')

In [27]:
rows=cursor.fetchall()
for row in rows:
    print(row)

(3,)

In [28]:
cursor.execute('''alter table Ages add column email varchar(255);''')

In [29]:
cursor.execute('''select * from Ages''')

In [30]:
rows=cursor.fetchall()

In [31]:
for row in rows:
    print(row)

('Mara', 30, None)
('Fyn', 31, None)
('Neshawn', 17, None)

In [32]:
cursor.execute('''update Ages set Email="fyn31@gmail.com" where name="Fyn"''')

In [33]:
cursor.execute('''update Ages set Email="mara30@gmail.com" where name="Mara"''')

In [34]:
cursor.execute('''select * from Ages''')

In [35]:
rows=cursor.fetchall()

In [36]:
for row in rows:
    print(row)

('Mara', 30, 'mara30@gmail.com')
('Fyn', 31, 'fyn31@gmail.com')
('Neshawn', 17, None)